p {
  text-align: justify;
}

/* 打字效果 --------------------------------------------------------------------------- */
.writeword {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: transform(-50%, -50%);
  color: white;
  width: 9.7em;
  border-right: 0.08em solid;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s steps(20), caret 1s steps(1) infinite;
}
@keyframes caret {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
/* 打字效果 ---------------------------------------------------------------------------*/

/* 飛機圖片---------------------------------------------------------------------------- */
.imgtop {
  position: relative;
  height: 40vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./images/IMG002.jpg) no-repeat 0% 38% / cover;
}

/* 飛機圖片---------------------------------------------------------------------------- */

/* about------------------------------------------------------------------------------ */
.img_about {
  height: 300px;
  max-width: 100%;
}

.text_666 {
  text-align: center;
}

.icon001 {
  color: black;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.icon002 {
  color: black;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

/* icon連結放大 ---------------------------------------------------------------------------*/
.icon1 {
  color: black;
  font-size: 2rem;
}
.icon1:hover {
  transition: 0.3s;
  font-size: 2.2rem;
}
/* icon連結放大 ---------------------------------------------------------------------------*/
/* about ----------------------------------------------------------------------------*/

/* 列表左邊的線 ---------------------------------------------------------------------------*/
.resume_item {
  padding: 0 0 5px 20px;
  margin-top: -2px;
  border-left: 5px solid rgb(255, 255, 255);
  position: relative;
}
/* 列表左邊的線 ---------------------------------------------------------------------------*/

/* li不要點點 ---------------------------------------------------------------------------*/
.skill ul li {
  position: relative;
  left: -15px;
  list-style: none;
  font-weight: bold;
}
/* li不要點點 ---------------------------------------------------------------------------*/

/* skill的卡片---------------------------------------------------------------------------*/
.card1 {
  max-width: 400px;
  border: 5px solid black;
  border-radius: 5px;
  padding: 20px;
  margin-left: -5px;
}

.card1 i {
  display: inline-block;
  font-size: 6rem;
  transform: scale(1);
  transition: 0.5s;
}

.card1:hover i {
  transform: scale(1.1);
}

/* skill的卡片---------------------------------------------------------------------------*/

/* 作品集卡片 ---------------------------------------------------------------------------*/
.card2 {
  background-color: white;
  color: black;
  border: 10px solid black;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px !important;
  position: relative;
}
.card3 {
  background-color: white;
  color: black;
  border: 10px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  position: relative;
}
/* 作品集卡片 ---------------------------------------------------------------------------*/

/* 卡片的modal hover效果 ---------------------------------------------------------------------------*/
.black666 {
  width: 100%;
  height: 100%;
  z-index: 22;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.5s ease;
}
.black666:hover {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 22;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.black666 .a666 {
  visibility: hidden;
  border: 2px solid white;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0s;
}

.black666 .a666:hover {
  background-color: white;
  border: 1px solid black;
}
.black666 .a666:hover a {
  text-decoration: none;
  color: black;
}

.black666:hover .a666 {
  visibility: visible;
  border: 2px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.a666 {
  text-decoration: none;
  color: white;
}
/* 卡片的modal hover效果 ---------------------------------------------------------------------------*/

/* RWD ------------------------------------------------------------------------------------ */
@media (min-width: 768px) {
  .writeword {
    left: 27%;
  }
  .text_666 {
    text-align: left;
  }
  .icon001 {
    left: 10px;
    transform: translate(0%, 0%);
  }
  .icon002 {
    left: 60px;
    transform: translate(0%, 0%);
  }
}
@media (min-width: 968px) {
  .writeword {
    left: 30%;
  }
  .imgtop {
    height: 60vh;
  }
  .img_about {
    height: 500px;
    margin-left: 100px;
  }
  .card2 {
    margin: 10px;
  }
}
@media (min-width: 1200px) {
  .writeword {
    left: 40%;
  }
}
/* RWD ------------------------------------------------------------------------------------ */
